@model MiniShop.Models.IndexViewModel
@using MiniShop.Util
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Goods</h2>
<table class="table">
    <tr>
        <th>@Html.DisplayName("Category")</th>
        <th>@Html.DisplayName("Name of Good")</th>
        <th>@Html.DisplayName("Price")</th>
        <th></th>
    </tr>

    @foreach (var item in Model.Goods)
    {
    <tr>
        <th>@Html.DisplayName(item.Category.Name)</th>
        <th>@Html.DisplayName(item.Name)</th>
        <th>@Html.DisplayName(item.Price.ToString("#0.00"))</th>
        <th>@Html.ActionLink("Show", "ShowGood", "Home", new { id = item.Id }, new { @class = "btn btn-outline-primary" } )</th>
    </tr>
    }

</table>
<br />
<div class="btn-group">
    @Html.PageLinks(Model.PageInfo, b => Url.Action("Index",
    new { page = b, category = Model.SelectedCategory, searchTemplate = Model.SearchTemplate }))
</div>
